nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.sticky-top{

}

button.under-photo{
    width: 75px;
    height: 75px;
    background-color: red;
    color: black;
    border: none;
    font-size: 12px;
    border-radius: 10%;
    text-align: center;
}

#my-photo{
    width: 250px;
}

#photo-side{
  
    
}
#under-photo{
    margin-top:15px;
    border-spacing: 30px;
}
#page{
    margin: 15px;
}

a{
    float: left;
}
